
<form class="form-inline" role="form">
    <div class="form-group">
        <label  for="from-date">From</label>
        <input type="text" class="form-control" id="from-date" placeholder="dd-mm-YYYY">
    </div>
</form>