<thead>
    <tr>
        <th width="110">Date</th>
        <th width="150">From</th>
        <th width="150">To</th>
        <th width="55">Disposition</th>
        <th width="25">Duration</th>
        <th width="25">Bill.</th>
    </tr>
</thead>
<tbody></tbody>
