<div>
    <p data-id="<%=vmid%>"><%=comment%></p>
</div>

<div class="vm-dialog-item-btns pull-right">
    <a href="#" id="js-del-comment"><span class="glyphicon glyphicon-remove"></span> Delete</a>
</div>